/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    gap: 10px;
  }
  
  .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 10px;
  }
  
  @media screen and (max-width: 600px) {
    .tile {
      font-size: 1rem;
      padding: 5px;
    }
  }
  